body {
    margin: 0;
  }

  /* bootstrapの謎の右の余白を消す */
  #_wrap {
    overflow: hidden;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
  }

  section {
    width: 100%;
    margin: 0 auto;
  }

  aside {
    width: 60%;
  }

  /* スマホ用 */
  @media screen and (max-width: 768px) {
    section {
      width: 95%;
    }

    aside {
      display: none;
    }
  }

  @media screen and (max-width: 992px) {
    aside {
      display: none;
    }
  }
  /* Display:none */
  .not-disp{
    display: none;
  }


  /* ホバーした際の色 */
  .hover-member:hover{
    background-color: #88b3f7;
  }

  /* テキストの色 */
  .black-text {
      color: black;
  }

  /* 既読テキストの色 */
  .read-text{
    color: black;
  }
  
  /* テキストエリアの高さ */
  .row-textarea {
    height: calc( 1.3em * 10 );
    line-height: 1.3;
  }
  /* サイドメニューの背景色 */
  .sidebar-bc{
    background-color: #6cb6f5; 
  }
  /* メッセージの背景色 */
  .message-bc {
    padding: 20px 10px;
    max-width: 868px;
    margin: 15px auto;
    font-size: 14px;
    background-color: #e9ecef; 
    border-radius: 10px 10px 10px 10px;
    height: 70vh;
    overflow: scroll;
  }

  /* 吹き出し左 */
  .balloon1 {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    background-color: gainsboro;
    color: #fff;
    max-width: 250px;
    font-size: 15px;
    word-wrap: break-word;
    margin-left: 10px;
  }

  /* 三角アイコン左 */
  .balloon1::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid gainsboro;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }

  /* 吹き出し右 */
  .balloon2 {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    background-color: #30e852;
    max-width: 250px;
    font-size: 15px;
    word-wrap: break-word;
    margin-right: 20px;
  }

  /* 三角アイコン右 */
  .balloon2::before {
    content: '';
    position: absolute;
    top: 3px;
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid #30e852;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }


  * {
    box-sizing: border-box;
  }
  .tab-wrap {
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .tab-label {
    width: 150px;
    color: White;
    background: LightGray;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    border:1px solid Gray;
    border-radius: 4px 0 0 4px;
    margin: 5px -1px 5px 1px;
    padding: 10px .5em;
    order: -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
    float:left;
  }
  .tab-content {
    display:none;
  }
  /* アクティブなタブ */
  .tab-switch:checked+.tab-label {
    color: Gray;
    background: White;
    border-right-color: White;
  }
  .tab-switch:checked+.tab-label+.tab-content {
    width: calc(100% - 150px); /* - ボタン幅 */
    height: 100%;
    padding: 15px;
    border-left: 1px solid Gray;
    display:block;
  }
  /* ラジオボタン非表示 */
  .tab-switch {
    display: none;
  }



/* タブ */
.side-tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
}
.side-tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #325A8C;
  display: block;
  order: -1;
}
.side-tab-label {
  color: White;
  background: LightGray;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.side-tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.side-tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.side-tab-switch:checked+.side-tab-label {
  background: #325A8C;
}
.side-tab-switch:checked+.side-tab-label+.side-tab-content {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.side-tab-switch {
  display: none;
}

.text-over {
  overflow: hidden;
	width: 400px;
	line-height: 1.0;
	white-space: nowrap;

  text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis; /* Safari */
	-o-text-overflow: ellipsis; /* Opera */
}

  